.App {
   background-color: rgb(24, 35, 97);  
}
.container{
  margin-left: 30%;
  background-color: rgb(177, 101, 2);
  width: 500px;
 
 margin-top: 70px;
 border-radius: 2%;
}
h1{
  text-align: center;
}
.input-button{
 
  margin-top: 20px;
  margin-left: 100px;
}
.button{
  
  border-radius: 5px;
  background-color: #df47ac;
  margin-left: 10px;
}